<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Nom du service</h1>
      <div class="columns is-variable is-8">
        <div class="column">
          <h2 class="title is-4">Explication du service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Amet mattis vulputate enim
            nulla aliquet porttitor lacus luctus. Sed libero enim sed faucibus turpis. Tempus urna et pharetra pharetra massa
            massa ultricies mi. At in tellus integer feugiat scelerisque varius morbi. Sagittis vitae et leo duis ut diam
            quam. Nullam eget felis eget nunc. Consectetur a erat nam at lectus urna duis. Ut diam quam nulla porttitor massa
            id neque aliquam vestibulum. Suscipit tellus mauris a diam maecenas.</p>
          <button class="button mt-4" [routerLink]="['/connexion']" fragment="stats">En savoir plus ...</button>
        </div>
        <div class="column">
          <h4 class="title is-4">Connexion</h4>
          <div class="message is-danger is-small" *ngIf="error">
            <div class="message-body">
              {{ error }}
            </div>
          </div>
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input form-control" type="email" placeholder="Email" ngModel name="email" required email>
                  <span class="icon is-small is-left">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                  </span>
                </p>
            </div>
            <div class="form-group field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" ngModel name="password" required password>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </p>
            </div>
            <div class="form-group field">
              <p> <a [routerLink]="['/inscription']">Pas encore inscrit ?</a></p>
              <p class="control has-text-centered">
                <button class="button is-fullwidth is-success">Se connecter</button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="hero-body">
    <div class="container">
      <h4 id="stats" class="title is-4">[Nom de la plateforme] en quelques chiffres</h4>
      <div class="columns is-variable">
        <div class="column is-9 has-text-centered">
          <iframe src="https://www.google.com/maps/d/embed?mid=1j3Ed5zyjzAMlzG82Ab3FqVfoCNcDlhsJ" width="100%" height="480"></iframe>
          <p><span>Localisation des logopédistes inscrits</span></p>
        </div>
        <div class="column is-3 has-text-centered">
          <p class="mt-5">
            <span class="big-number">{{this.statistics?.nbLogoInscrits}}</span><br>
            <span>Logopédistes inscrits</span>
          </p>
          <p class="mt-5">
            <span class="big-number">{{this.statistics?.nbDemandesDeBilans}}</span><br>
            <span>Demandes de bilans effectuées</span>
          </p>
          <p class="mt-5">
            <span class="big-number">{{this.statistics?.nbPatientsInscrits}}</span><br>
            <span>Patients inscrits</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
