<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">FindMyLogo.ch</h1>
      <div class="columns is-variable is-8">
        <div class="column">
          <p>FindMyLogo.ch est un service facilitant la mise en relation entre patients et logopédistes.
            Dorénavant, il n’est plus nécessaire d’effectuer de nombreux téléphones et e-mail pour pouvoir s’inscrire sur de nombreuses listes d’attente.
            En quelques cliques, inscrivez-vous sur plusieurs listes d’attente des logopédistes proches de chez vous !
            FindMyLogo est un service mis gratuitement à disposition de la population.</p>
          <button class="button mt-4" [routerLink]="['/connexion']" fragment="stats">En savoir plus ...</button>
        </div>
        <div class="column">
          <h4 class="title is-4">Connexion</h4>
          <div class="message is-danger is-small" *ngIf="error">
            <div class="message-body">
              {{ error }}
            </div>
          </div>
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input form-control" type="email" placeholder="Email" ngModel name="email" required email>
                  <span class="icon is-small is-left">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                  </span>
                </p>
            </div>
            <div class="form-group field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" ngModel name="password" required password>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </p>
            </div>
            <div class="form-group field">
              <p> <a [routerLink]="['/inscription']">Pas encore inscrit ?</a></p>
              <p class="control has-text-centered">
                <button class="button is-fullwidth is-success">Se connecter</button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="hero-body">
    <div class="container">
      <h4 id="stats" class="title is-4">FindMyLogo.ch en quelques chiffres</h4>
      <div class="columns is-variable">
        <div class="column is-9 has-text-centered">
          <iframe src="https://www.google.com/maps/d/embed?mid=1j3Ed5zyjzAMlzG82Ab3FqVfoCNcDlhsJ" width="100%" height="480"></iframe>
          <p><span>Localisation des logopédistes inscrits</span></p>
        </div>
        <div class="column is-3 has-text-centered">
          <p class="mt-5">
            <span class="big-number">{{this.statistics?.nbLogoInscrits}}</span><br>
            <span>Logopédistes inscrits</span>
          </p>
          <p class="mt-5">
            <span class="big-number">{{this.statistics?.nbDemandesDeBilans}}</span><br>
            <span>Demandes de bilans effectuées</span>
          </p>
          <p class="mt-5">
            <span class="big-number">{{this.statistics?.nbPatientsInscrits}}</span><br>
            <span>Patients inscrits</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
