<nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="assets/logo_large.png">
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link" *ngIf="this.loginService?.role === 'PATIENT' || this.role === 'PATIENT'" routerLink="/">Accueil</a>
          </div>
        </div>
        <div class="navbar-item" *ngIf="!this.loginService?.isLoggedIn && !this.isLogged">
          <div class="buttons">
            <a class="button is-link" routerLink="/connexion-logopediste">Espace logopédistes</a>
          </div>
        </div>
        <div class="navbar-item" *ngIf="(this.loginService?.isLoggedIn || this.isLogged) && (this.loginService?.role || this.role) === 'PATIENT'">
          <div class="buttons">
            <a class="button is-link" routerLink="/mon-compte">Mon compte</a>
          </div>
        </div>
      </div>
      <div class="navbar-item" *ngIf="this.loginService?.isLoggedIn || this.isLogged">
        <div class="buttons">
          <a class="button is-link" (click)="deconnexion()">Déconnexion</a>
        </div>
      </div>
    </div>
  </div>
</nav>
