<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<router-outlet></router-outlet>
<footer class="footer has-text-centered p-4">
  <div class="content">
      <p> © 2021 - HES-SO Master Lausanne <br>
        Bebovic Luan, Christe Thibaud, Mellouli Mehdi, Seppey Océane, Silva Lourenço Daniela, Tuya Rosina</p>
      <p class="mt-2">
        <img class="p-2" src="assets/licence.jpg" width="150px"/>
        <img class="p-2" src="assets/logo-hes-so-master.jpeg" width="150px"/>
      </p>
 </div>
</footer>
