<div class="card mt-4">
  <div class="card-content">
    <div class="columns is-vcentered">
      <div class="column is-2">
        <figure class="image is-96x96">
          <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column is-2">
        <p><strong>Nom Prénom</strong></p>
        <p>
          Rue de la poste 23 <br>
          2000 Lausanne
        </p>
      </div>
      <div class="column is-3">
        <p><strong>Spécialisations</strong></p>
        <div class="tags are-medium">
          <span class="tag is-primary is-medium">Dysphasie</span>
          <span class="tag is-primary is-medium">Dyscalculie</span>
        </div>
      </div>
      <div class="column is-4">
        <p>Prochaine disponibilité estimée à le 01.09.2021</p>
        <p>Nombre de patient en liste d'attente : 15</p>
      </div>
    </div>
  </div>
</div>
